{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="home" class="home">
    <section class="intro">
        <section id="title" class="title">
            <h1>Improve</h1>
            <h2>your mind</h2>
        </section>
        <section class="desc" id="desc">
            <div>
                Do you like quizes and competition?
                Find out how much you know about the world and compete with your friends.
            </div>
        </section>
    </section>

    <section id="logo" class="logo">
        <img src="{% static 'quizz/logo/home.png' %}" alt="logo">
    </section>
</section>

<section class="banner">
    <div class="header">
        <h1>Top choices</h1>
    </div>
    <section id="categories" class="categories">
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home13.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home12.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home3.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home2.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home5.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    editor_choice
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home10.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
    </section>
    <div class="footer">
        <h1>More ...</h1>
    </div>
</section>

<section class="banner">
    <div class="header">
        <h1>More replies</h1>
    </div>
    <section id="categories" class="categories">
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>

            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home14.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>

            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home1.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>

            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home3.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>

            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home4.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>

            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home6.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
        <div class="category" id="cat_1">
            <div class="title">
                Titulo Cras eu eros ornare.
                <span class="material-symbols-outlined">
                    rewarded_ads
                </span>
            </div>
            <div class="logo">
                <img src="{% static 'quizz/logo/home7.png' %}" alt="category">
            </div>
            <div class="button">
                <span class="label">Realizar Quiz</span>
                <span class="icon material-symbols-outlined">
                    rocket_launch
                </span>
            </div>
        </div>
    </section>
    <div class="footer">
        <h1>More ...</h1>
    </div>
</section>
{% endblock %}